@using It_Univer.Tasks.Core.Entities

@model TaskBase

<div class="card">
    <div class="card-body">
        <div class="form-group">
            Subject: @Model.Subject
        </div>
        <div class="form-group">
            Description: @Model.Description
        </div>
        <div class="form-group">
            CreationDate: @Model.CreationDate
        </div>

    </div>
</div>

